form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
    
}
.btn-primary {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(40deg,  #DACDA6, #8980FF, #64C5B7);  
    color: navy;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}