.card{
  margin: 0 auto; 
  width: 50%; 
  display: flex; 
  border: none;
  border-radius: 25px;
  box-sadow: 0 0 10px rgba(0,0,0,0.2);
  background: linear-gradient(40deg,  royalblue, #8980FF, #64C5B7);  
  color: darkblue;
  font: 1em sans-serif;
}